
   h1.parent {color :whitesmoke;text-align: left;font-family:"Open Sans",Verdana,Helvetica,sans-serif; background-color:black
            }
            dot
            {
                color:#0076a8
            }
            body {
  background: url("Deloitte1.jpg"); background-image: cross-fade()

}
h1.client {

color :whitesmoke;text-align: right;font-family:"Open Sans",Verdana,Helvetica,sans-serif; background-color:black
} 

 table
 {
border: 1px solid black;
background-color: aquamarine;
width :fit-content;
height :fit-content;
vertical-align: bottom;
padding:5px;
 }